services:
  web:
    image: hugozins/eval_docker1-web:latest
    container_name: flask_app_web
    ports:
      - "5000:5000"
    environment:
      POSTGRES_HOST: postgres_db
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

volumes:
  pgdata:

networks:
  app_network:
    name: flask_postgres_network